img{
    max-width: 30px;
    height: auto;
}

.playButton{
    background-color: transparent;
    padding: 0;
}
.noteButton {
    transition: background-color 0.3s ease;
  }
  
.noteButton.active {
background-color: red;
}

.noteButton.correct {
    background-color: green;
}
      
  

button {
    background-color: #A6B1E1;
    border-radius: 8px;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    outline: none;
    padding: 10px 15px;
    margin: 2px;
  }

.noteSelector{
    margin-top: 1vh;
}