.side-block {
    display: flex;
    height: 50vh;
    width:  10vw;
    height: 50vh;
    width:  10vw;
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}